.DS_Store
.vs
.suo
Library
Temp
UnityVS
AssetStoreTools
obj/*
/Assets/AssetStoreTools.meta
/Assets/UnityVS.meta
/Assets/Plugins/Slua_Managed/Unity
/Assets/Slua/LuaObject
/Assets/Slua/LuaObject.meta
/ProjectSettings
/*.csproj
/*.sln
/build/luajit-osx/build*